.resume-page {
    display: flex;

    .resume-left-pane {
        display: flex;
        flex-direction: column;
        flex: 1 0 30%;
        background-color: #293E49;
    }
    .resume-main-pane {
        display: flex;
        flex-direction: column;
        flex: 1 0 70%;
    }
}