:host {
  grid-column: 2;
  display: grid;
  // grid-template-columns: 1fr 2fr 10fr 2fr;
  height: auto;
  background-color: #f0eff4;
  box-shadow: 1rem 1rem 1rem 1rem #2c1e16;

  .page-break {
    grid-column: 3;
  }
}
