:host {
  flex-direction: column;
  flex: 1 0 30%;
  align-items: center;
  // color: #e1e9ee;
  color: #f0eff4;
  background-color: #293e49;
  // background-color: #48639c;
  border-right: thin solid #5b6b73;
}
