@import "src/_variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .left-pane {
    min-width: 20vw;
    color: $white;
    background-color: #293e49;
    border-right: thin solid #5b6b73;
  }
}
