:host {
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;

  &::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/background4.jpeg");
    opacity: 0.09;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
