:host {
  flex-direction: column;
  height: fit-content;

  .name {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
  }

  .location {
    font-size: 9;
    font-family: "Lato-Regular";
  }
}
