.resume-page {
    display: flex;
    flex: 1 0 auto;
    box-shadow: 10px 10px 10px 10px #9D9D9D;

    margin: 2%;
    .resume-left-pane {
        display: flex;
        flex-direction: column;
        flex: 1 0 30%;
        background-color: #293E49;
        border-right: thin solid #5B6B73;
    }
    .resume-main-pane {
        display: flex;
        flex-direction: column;
        flex: 1 0 70%;
    }
}