$mobile-small: 320px !default;
$mobile-medium: 375px !default;
$mobile-large: 425px !default;
$stack-break: 600px !default;
$tablet: 768px !default;
$laptop: 1024px !default;
$laptop-large: 1440px !default;

$white: #f0eff4 !default;
