@font-face {
    font-family: LiberationSerif-Regular;
    src: url(./assets/LiberationSerif-Regular.ttf); 
}

html {
    display: flex;
    font-family: 'Liberation Serif Regular';

    body {
        display: flex;
        flex: 1 auto;
        justify-content: center;
        margin: 0;
        background-color: #F7F7F7;

        resume-container {
            display: flex;
            width: 70%;
            justify-content: center;
            background-color: #FFFFFF;
        }
    }
}