@font-face {
    font-family: LiberationSerif-Regular;
    src: url(./assets/LiberationSerif-Regular.ttf); 
}

html {
    display: flex;
    font-family: 'Liberation Serif Regular';
    flex-direction: column;

    body {
        display: flex;
        flex-direction: column;
        flex: 1 auto;
        justify-content: center;
        margin: 0;
        background-color: #F7F7F7;

        app {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}